.bannerImg-true{ 
    overflow: hidden;
    border-radius: 25px;
    padding: 10px;
    left: 0px;
    margin: 0 auto;
    height: 900px;
    
    background-size: cover;
    margin-bottom: -25px;
}

@media(max-width:767px){
    .bannerImg-true{
         height: 244px;
    }   
}

.bannerImg-false{ 
    overflow: hidden;
    border-radius: 25px;
    padding: 10px;
    left: 0px;
    margin: 0 auto;
    height: 900px;
    
    background-size: cover;
    margin-bottom: -25px;
}

@media(max-width:767px){
    .bannerImg-false{
         height: 244px;
    }   
}